.rel-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rel-loading img {
  width: 42px;
  height: 42px;
  animation: circle 1s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}